@model   IEnumerable<EECartViewModel>
@{
    ViewData["Title"] = "Default";
}

<div class="resume-tab-content animated fadeIn">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="experience-item">
                    <div class="experience-item-header">
                        <div class="resume-univ-icon">
                            <span class="@item.Logo"></span>
                        </div>
                        <div class="resume-univ-text">
                            <h6><i class="far fa-calendar-alt"></i>(@item.AddedDate.ToString("yy-MM-dd"))>>(@item.ModifiedDate.ToString("yy-MM-dd"))</h6>
                            <h5>@item.Title</h5>
                            <h6>@item.ModifiedBy</h6>
                        </div>
                    </div>
                    <div class="experience-item-body">
                        <p>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

